/* Reset CSS section*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;

}

:root {
    --background: #000000;
    --primary: #14213D;
    --secondary: #1f2e4f;
    --accent: #FCA311;
    --neutral-accent: #3e5d70;
    --neutral: #E5E5E5;
    --white: #ffffff;
}

body {
    background-color: var(--background);
    color: var(--color2);
    font-family: 'Lato';
    height: fit-content;
    
}

h1 {
    color: var(--white);
    font-size: 3rem;
    font-weight: bold;
    padding: 0 1rem;
}

h3 {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0 1rem;
}

a, a:visited {
    color: var(--color2);
    text-decoration: none;
}

nav > ul {
    list-style-type: none;
}

.main_container {
    display: flex;
}

.title_section {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
}

.title {
    align-items: baseline;
    display: flex;
    flex-direction: row;
}

.title_logo {
    filter: invert(1);
    width: 50px;
}

.title_right {
    height: 2rem;
}

.title_right > input {
    border-radius: 7px 0 0 7px;
    border-width: 0;
    height: 100%;
    text-indent: 1rem;
}

.title_right > button {
    background-color: var(--accent);
    border-radius: 0 7px 7px 0;
    border-style: none;
    color: var(--white);
    font-weight: bold;
    height: 100%;
    width: 120px;
}

.sidebar_menu {
    align-items: center;
    background-color: var(--accent);
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 3rem 1rem;
    position: fixed;
    transition: width 700ms ease;
    width: 3rem;
    z-index: 1;
}

.sidebar_menu:hover {
    width: 16rem;
}

.sidebar_menu:hover .main_navigation {
    display: block;
}

.sidebar_menu > .logo_container > .logo {
    width: 50px;
}

.main_navigation {
    display: none;
    font-size: 1rem;
    font-weight: bold;
    line-height: 2rem;
    padding: 2rem;
}

.logo {
    width: 75px;
}

.main_content {
    background-color: var(--primary);
    color: var(--white);
    height: 100vh;
    height: fit-content;
    margin-left: 5rem;
    padding: 3rem;
    width: 100vw;
}

.main_sections {
    display: flex;
    margin: 2rem 0;
}

/* News block section */
.news_section {
    background-color: var(--secondary);
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}

.news_section > article {
    flex-grow: 1;
    width: 300px;
}

.news_article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
}

.news_article > img {
    border: 5px solid var(--white);
    filter: grayscale(1);
    margin-bottom: 0.5rem;
}

.news_article > img:hover {
    filter: grayscale(0);
}

.news_article > h2 {
    color: var(--accent);
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
}

.news_article > p {
    line-height: 1.4rem;
    padding-bottom: 1rem;
}

.news_article > button {
    background-color: var(--neutral-accent);
    border: none;
    color: var(--white);
    font-weight: bold;
    padding: 0.5rem;
    width: 100%;;
}

/* Leaderboard block section */
.leaderboards {
    background-color: var(--neutral-accent);
    padding: 1rem;
    width: 250px;
}

.leaderboards_title {
    padding-bottom: 1rem;
}

.leaderboards_subtitle {
    align-items: center;
    background-color:var(--background);
    display: flex;
    padding: 0.2rem 0.5rem;
}

.leaderboards_subtitle > img {
    filter: invert(1);
}

.user_icon > img {
    filter: invert(1);
}

.category_block {
    padding-bottom: 1.2rem;
}

.category_title {
    font-size: 1.1rem;
    font-weight: bold;
    padding-left: 0.8rem;
}

.user_container {
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 1rem;
}

.user_info {
    display: flex;
}

.user_name {
    padding-left: 0.3rem;
}

/* Footer section */
footer {
    align-items: center;
    background-color: var(--background);
    color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}

.logo_footer {
    filter: invert(1);
    padding-bottom: 1rem;
    width: 65px;
}

.legal_container {
    display: flex;
    gap: 1rem;
    padding-bottom: 0.8rem;
}

.copyright {
    font-size: 0.8rem;
}