/* Reset CSS section*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;

}

:root {
    --background: #000000;
    --primary: #14213D;
    --secondary: #1f2e4f;
    --accent: #FCA311;
    --neutral: #E5E5E5;
    --white: #ffffff;
}

body {
    background-color: var(--background);
    color: var(--color2);
    font-family: 'Lato';
    height: fit-content;
    
}

h1 {
    color: var(--white);
    font-size: clamp(3rem, 5vw + 1rem, 5rem);
    font-weight: bold;
    padding: 0 1rem;
}

a, a:visited {
    color: var(--color2);
    text-decoration: none;
}

nav > ul {
    list-style-type: none;
}

.main_container {
    display: flex;
}

.title {
    align-items: baseline;
    display: flex;
    flex-direction: row;
}

.title_logo {
    filter: invert(1);
    width: 50px;
}

.sidebar_menu {
    align-items: center;
    background-color: var(--accent);
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem;
}

.main_navigation {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 2rem;
    padding: 2rem;
}

.logo {
    width: 75px;
}

.main_content {
    background-color: var(--primary);
    color: var(--white);
    height: 100vh;
    height: fit-content;
    padding: 3rem;
    width: 100vw;
}

.news_section {
    background-color: var(--secondary);
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem 0;
    width: 100%;
}

.news_section > article {
    width: 300px;
}

.news_article {
    padding: 1.5rem;
}

.news_article > img {
    border: 5px solid var(--white);
    margin-bottom: 0.5rem;
    filter: grayscale(1);
}

.news_article > img:hover {
    filter: grayscale(0);
}

.news_article > h2 {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
}

.news_article > p {
    line-height: 1.4rem;
    padding-bottom: 1rem;
}

.news_article > button {
    background-color: var(--accent);
    border: none;
    color: var(--white);
    font-weight: bold;
    padding: 0.5rem;
    width: 100%;
}
